/* ContactForm.css */
.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
}

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form form div {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #218838;
}

.contact-form p {
  text-align: center;
  color: #d9534f;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

.form-control:focus {
  border-bottom-color: #3a64c5;
  outline: none;
}
.form-control:hover {
  border-bottom-color: #3a64c5;
  outline: none;
}

.text-gradient3 {
  background: linear-gradient(90deg, #2c57bb 30%, #324c8a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient3 {
  background: linear-gradient(90deg, #2c57bb 30%, #324c8a 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.faq-gradient {
  background: linear-gradient(90deg, #2c57bb 20%, #1c45a5 80%);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}




