/* ProjectsStyling.css */

.swipeableViewsContainer {
  overflow: hidden; /* Hide overflow */
}

.swipeableView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-left: 10%;
}