.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: white;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.no-underline-hover:hover {
  text-decoration: underline;
  color:yellow
}

.no-underline-hover {
  text-decoration: none;
  color: yellow; /* Keeps text yellow always */
}


